---
import Instruction from '../components/calculator/Instruction.astro';
import RunCalculator from '../components/calculator/RunCalculator.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Instruction />
		<RunCalculator />
	</main>
</Layout>
