---
import Hero from '../components/homepage/Hero.astro';
import Feature from '../components/homepage/Feature.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Feature />
	</main>
</Layout>
